:root {
    --color-white: white; 
}
#toggle-mode {
   
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;                                       
}

body.light-mode {
    background-color: #FBFBFD;
    color: #000;
}

body.dark-mode {
    background-color: #000;
    color: #FFF;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#131921;
    color:var(--color-white);
    font-size: 0.85em;
}

.menu {
    margin-right: 20px;
    padding: 5px;
}

.div1 img {
    width: 10vh;
    height: auto;

}

.div2 {
    display: flex;
    align-items: center;
}
.div2 .text p{
    width: 70px;
    margin-left: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.div3 {
    display: flex;
    align-items: center;
}

#desplegable {
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    background-color: #D4D4D4;
    color: black;
    cursor: pointer;
    appearance: none;
}
#desplegable:focus {
    outline: none;
}

#busqueda {
    width: 30vw;
    flex-grow: 1;
    border: none;
    padding: 10px;
}

.div3 > a {
    display: flex;
    align-items: center;
    color: black;
    background-color: #FEBD69;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.div3 > a:hover {
    background-color: #FFA500;
}

.search-icon {
    font-size: 16px;
    margin-right: 5px;
}

.container-menu div a{
    text-decoration: none;
    color: var(--color-white);
}
.container-menu div a:hover{
    color: #FFA500;
}

.div4 > .custom-select > .options > .option > img {
    width: 1.5vw;
}

.nav-main{
    background-color: #232F3E;
    display: flex;
    color: var(--color-white);
}

.nav-main > .skills{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    box-sizing: border-box;
}

.nav-main > .skills > div{
    padding: 0.5%;
    border-radius: 5%;
    cursor: pointer;
}

.skill1:hover {
    background-color: #007396; 
    color: var(--color-white);
}
.skill2:hover {
    background-color: #F0DB4F;
    color: black;
}
.skill3:hover {
    background-color: #6DB33F;
    color: var(--color-white);
}
.skill4:hover {
    background-color: #E44D26;
    color: var(--color-white);
}
.skill5:hover {
    background-color: #2965F1;
    color: var(--color-white);
}
.skill6:hover {
    background-color: #336791;
    color: var(--color-white);
}
.skill7:hover {
    background-color: #61DAFB;
    color: black;
}
.skill8:hover {
    background-color: #7952B3;
    color: var(--color-white);
}

.container-main{
    display: flex;
    justify-content: center;
    margin-top: 40px;

    & div{
        width: 20vw;
        padding:1%;
    }
}

.texto-verde{
    color: #82BD01;
    font-weight: bold;
    margin-left: 20px;
}

.certificados-container {
    display: flex;
    align-items: center;
}

.imgages-my{
    display: flex;
}


.images-laterales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;

    & img{
        margin-bottom: 5px;
        width: 2.5vw;
        height: 5vh;
        border: 1px solid #FFA500;
        border-radius: 20%;
    }
    & img:hover{
        box-shadow: 0 0 10px #007396;
    }
}

.content{
    & img {
        width: 2vw;
    }

    & a{
        text-decoration: none;
        color: #82BD01;
        border-bottom: solid 1px #EBE8D3;
    }
    & a:hover{
        color: #FFBB02;
    }
}

.botones-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.boton {
    border: 1px solid #000000; 
    padding: 10px;
    background-color: #F7CA00;
    color: #000000; 
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    margin-bottom: 10px;
}
.boton:hover{
    background-color: #FFA500 ;
}

.star{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #FFA500;
    clip-path: polygon(
        50% 0%,
        61.8% 35.3%,
        98.2% 35.3%,
        68.2% 57.3%,
        79.1% 91.2%,
        50% 70.9%,
        20.9% 91.2%,
        31.8% 57.3%,
        1.8% 35.3%,
        38.2% 35.3%
        );
    margin-right: 5px;
}

.container-valoraciones{
    display: flex;
    align-items: center;
    flex-direction: column;

    & div{
        width: 64vw;
        padding:1%;
    }

    & .valoraciones-texto{
        margin-top: -50px;
    }
}